<!DOCTYPE html>
<html>
  <head>
    <title>Timet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
<script src="http://timetablejs.grible.co/scripts/timetable.min.js"></script>
        <%= stylesheet_link_tag "http://timetablejs.grible.co/styles/demo.css", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="http://timetablejs.grible.co/styles/timetablejs.css">

    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
